body {
    background-color: #F2E9E1;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row-reverse;
}

.menu {
    width: 150px;
    margin-right: 30px;
}

.menu_ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: None;
    margin-top: 0;
    
}

a {
    text-decoration: None;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    color: #3e8fb0;
    font-weight: bold;
}

.side_menu_open {
    background-color: #F2E9E1;
    color: #3e8fb0;
    border: None;
    font-size: 20px;
    font-weight: bold;
}

.side_menu_close {
    background-color: #fffaf3;
    border: None;
    font-size: 25px;
    font-weight: bold;
    color: #3e8fb0;
    text-align: right;
}

.note {
    width: 20%;
    margin: auto;
    padding-top: 70px;
    padding-right: 30%;
}

.add_note {
    color: #3e8fb0;
    background-color: #F2E9E1;
    border: None;
    font-size: 20px;   
}

.add_note:active, 
.side_menu_close:active, 
.side_menu_open:active,
.text_button:active {
    background-color: #ea9a97;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #3e8fb0;
}

aside {
    background-color: #fffaf3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 220px;
    position: fixed;
    padding-top: 15px;
    padding-right: 15px;
}

h1 {
    color: #3e8fb0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

aside li {
    font-family: 'Roboto Mono', monospace;
    list-style: None;
    padding-left: 17%;
    margin-bottom: 15px;
    color: #3e8fb0;
}

textarea {
    background-color: #fffaf3;
    border: None;
    margin-left: 30px;
    resize: None;
}

.text_button {
    color: #3e8fb0;
    font-family: 'Roboto Mono', monospace;
    border: None;
    background-color: #F2E9E1;
    font-size: 20px;
}

div {
    display: flex;
    margin-left: 430px;
}

::placeholder {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
   .note {
       padding-left: 50px;
   }

    aside {
        width: 10%;
        background-color: #F2E9E1;
    }

    .menu_ul {
        width: 90px;
    }

    textarea {
        width: 250px;
        height: 200px;
    }

    .text_button, a, h1, li, ::placeholder {
        font-size: 12px;
    }

    div {
        margin-left: 190px;
    }

    footer {
        font-size: 10px;
        text-align: right;
    }

    .add_note {
        padding: 12px;
        font-size: 15px;
    }

    .hidden, h1 {
        visibility: hidden;
        display: None;
    }

    .side_menu_close:hover + h1 {
        visibility: visible;
        display: flex;
        flex-direction: column;
        padding-left: 42px;
    }

    .side_menu_close:hover + h1 + .hidden{
        visibility: visible;
        display: flex;
        flex-direction: column;
    }

    .side_menu_close {
        background-color: #F2E9E1;
        visibility: hidden;
    }

    .side_menu_close:after {
        visibility: visible;
        content: ">>";
    }


}

