body {
    background-color: #F2E9E1;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row-reverse;
}

.menu {
    width: 150px;
    margin-right: 30px;
}

.menu_ul {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    list-style: None;
    margin-top: 0;
    
}

a {
    text-decoration: None;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    color: #3e8fb0;
    font-weight: bold;
}

.side_menu {
    background-color: #F2E9E1;
    color: #3e8fb0;
    border: None;
    font-size: 20px;
    font-weight: bold;
}

.note {
    width: 20%;
    margin: auto;
    padding-top: 70px;
    padding-right: 30%;
}

.add_note {
    color: #3e8fb0;
    background-color: #F2E9E1;
    border: None;
    font-size: 20px;
}

.add_note:active, .side_menu:active {
    background-color: #ea9a97;
}

footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #3e8fb0;
}
